@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto+Condensed&display=swap');



/* whole */
body{
    background-color: #1F1F1F;
    color: #F8FCDA;
}
body{
    margin: 0;
    padding: 0;
}
/* whole */



/* header */
#content{
    max-width: 1600px;
    margin: 0 auto;
}
.header{
    display: grid;
    grid-template-columns: 150px auto;
    width: 100%;
}
header{
    background-color: #1F1F1F;
}
#logo_link{
    text-align: center;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo{
    width: 120px;
}
nav a:hover{
    background-color: #388697;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav a{
    text-align: center;
    color: #F8FCDA;
    text-decoration: none;
    font-family: "Roboto, Helvetica, sans-serif";
    padding: 35px;
}
/* header */



/* hero */
#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: -100px;
}
#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h1 #hero-msg h4{
    text-align: center;
}
.home-title{
    color: #F8FCDA;
}
#hero-img{
    width: 100%;
    grid-column: 1/4;
    grid-row: 1/3;
}
.home-title{
    font-family: "Permanent Marker";
    font-size: 2em;
    margin-top: 10px;
}
.home-subtitle{
    font-family: "Permanent Marker";
}
.button-box{
    text-align: center;
}
.book{
    background-color: #1F1F1F;
    color: #F8FCDA;
    text-decoration: none;
    font-family: "Roboto, Helvetica, sans-serif";
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover{
    background-color: #CC793E;
    color: #1F1F1F;
}
h4{
    color: #F8FCDA;
}
/* hero */



/* main home grid */
.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 150px);
}
main, section{
    text-align: center;
}
.icon{
    width: 65px;
}
.icon{
    padding-top: 10px;
}
.card-img{
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img{
    border: 10px solid #1F1F1F;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.card-img, .mountains {
    width: 100%;
    margin: 0 auto;
}
.card-img, .mountains {
    width: 100%;
    margin: 0 auto;
}
.river-cards{
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    justify-content: center;
}
.river-cards{
    margin: 200px 0;
}
.camping-card{
    grid-column: 5 / 7;
    grid-row: 2 / 3;
    justify-content: center;
}
.camping-card{
    margin: 200px 0;
}
.rapids-card{
    grid-column: 8 / 10;
    grid-row: 2 / 3;
    justify-content: center;
}
.rapids-card{
    margin: 200px 0;
}
#background{
    grid-column: 1 / 11;
    grid-row: 4 / 9;
}
#background{
    grid-column: 1 / 11;
    grid-row: 4 / 9;
}
#background{
    height: 725px;
    background-color: #388697;
}
.mountains{
    grid-column: 2 / 7;
    grid-row: 5 / 8;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg{
    background-color: #6f7364;
    padding: 35px;
    grid-column: 6 / 10;
    grid-row: 6 / 7;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg{
    background-color: #CC793E;
    font-family: "Roboto, Helvetica, sans-serif";
    font-size: .8em;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2{
    color: #F8FCDA;
}
.msg p{
    color: #F8FCDA;
    padding-bottom: 15px;
}
p{
    font-size: 1em;
}
h2{
    margin: 0;
}
.join{
    background-color: #CC793E;
    color: #1F1F1F;
    text-decoration: none;
    font-family: "Roboto, Helvetica, sans-serif";
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join:hover{
    background-color: #1F1F1F;
    color: #CC793E;
}
/* main home grid */



/* footer */
footer{
    background-color: #CC793E;
    color: #1F1F1F;
    font-family: "Roboto, Helvetica, sans-serif";
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a{
    color: #1F1F1F;
    text-decoration: none;
    font-family: "Roboto, Helvetica, sans-serif";
}
footer a:hover{
    color: #F8FCDA;
    text-decoration: underline;
}
footer p{
    font-size: 1.2em;
    font-family: "Roboto, Helvetica, sans-serif";
}
footer .social img{
    padding-top: 15px;
}
.copy{
    font-family: "Roboto, Helvetica, sans-serif";
}
/* footer */


/* Second Page - Rivers*/



/* main */
.rivers-grid{
    background-color:#F8FCDA;
    color:#1F1F1F;
    margin-top: -40px;
    margin-bottom: -200px;
    padding: 0;
}
/* main */



/* titles */
.line1{
    background-color:#1F1F1F;
}
.rivers-title{
    font-size: 3.0em;
    color:#1F1F1F;
    font-family: "Permanent Marker";
}
.rivers-subtitle{
    font-size: 2.5em;
    color:#1F1F1F;
    font-family: "Permanent Marker";
}
/* titles */



/* salmon */
.salmon-img{
    height: 460px;
    Width: 680px;
    float: right;
    margin-right: 90px;
    margin-left: 80px;
    border: 5px solid #1F1F1F;
    border-radius: 2%;
}
.salmon-title{
    font-size: 2.0em;
    font-family: "Permanent Marker";
    text-align: center;
    margin: 10px;
    margin-left: 30px;
}
.salmon-p{
    font-size: 1.2em;
    font-family: "Roboto, Helvetica, sans-serif";
    text-align: center;
    margin: 70px;
}
.salmon-back{
    background-color: #CC793E;
    height: 470px;
}
/* salmon */



/* desolation */
.desolation-img{
    height: 460px;
    float: left;
    margin-right: 80px;
    margin-left: 80px;
    border: 5px solid #1F1F1F;
    border-radius: 2%;
}
.desolation-title{
    font-size: 2.0em;
    font-family: "Permanent Marker";
    text-align: center;
    margin: 10px;
    margin-right: 60px;
}
.desolation-p{
    font-size: 1.2em;
    font-family: "Roboto, Helvetica, sans-serif";
    text-align: center;
    margin: 70px;
}
.desolation-back{
    background-color: #CC793E;
    height: 470px;
}
/* desolation */



/* grand */
.grand-img{
    height: 460px;
    float: right;
    margin-right: 80px;
    margin-left: 80px;
    border: 5px solid #1F1F1F;
    border-radius: 2%;
}
.grand-title{
    font-size: 2.0em;
    font-family: "Permanent Marker";
    text-align: center;
    margin: 10px;
    margin-left: 30px;
}
.grand-p{
    font-size: 1.2em;
    font-family: "Roboto, Helvetica, sans-serif";
    text-align: center;
    margin: 70px;
}
.grand-back{
    background-color: #CC793E;
    height: 470px;
}
/* grand */

/* contact us */
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 4px solid #CC793E;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  label:hover{
    background-color: #CC793E;
    color:#1F1F1F
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #1F1F1F;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }
/* contact us */


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .river-cards, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}