body{
    background-color: gray;
    margin: 0;
    
}
.center{
    width: 100%;
}
.desk{
    width: 150px;
    height: 150px;
    border-radius: 80%;
    border-color: black;
    border-width: 10px;
    border-style: ridge;
    margin-right: 120px;
}
.thing{
    width: 150px;
    height: 150px;
    border-radius: 80%;
    border-color: black;
    border-width: 10px;
    margin-left: 10px;
    border-style: ridge;
    margin-right: 10px;
}
.person{
    width: 150px;
    height: 150px;
    border-radius: 80%;
    border-color: black;
    border-width: 10px;
    border-style: ridge;
    margin-left: 120px;
}
.banner{
    text-align: center;
}