.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.html{
    background-color: gray;
}
body{
    margin: 0;
}
.img{
   grid-column: 1 / 2;
   grid-row: 1; 
   width: 100%;
}
.cherry{
    grid-column: 2 / 3;
    grid-row: 1;
    font-size: 6em;
    color: red;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-self: end;
    z-index: 1;
    margin-bottom: 80px;
    justify-self: center;
    letter-spacing: .2em;

}
.tart{
    grid-column: 1 / 3;
    grid-row: 1;
    justify-self: center;
    font-size: 10em;
    z-index: 1;
    align-self: center;
    margin-bottom: 220px;
    letter-spacing: .2em
}
.right{
    background-color: gray;
    grid-column: 2 / 3;
    grid-row: 1;
}